<form id="shorten_form" action="/api/actions/shorten" method="GET">
  <input
    type="url"
    id="form_url"
    class="form-control"
    name="url"
    placeholder="enter a url to shorten"
    required
    autofocus />
  <button type="submit">submit</button>
</form>
